*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:62,5%;
}

header h1{
    font-size: 2.6rem;
    font-family: 'Source Serif 4', serif;
}

header h2{
    font-size: 4.6rem;
    font-family: 'Source Serif 4', serif;
    font-size: 100px;
}

header h3{
    font-size: 3rem;
    font-weight: normal;
}

header h4,h5{
    font-size: 2rem;
}

header li{
    font-size: 2rem;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

/* HEADER */

.main-head{
    background-color: rgb(165, 42, 42);
    color: whitesmoke;
}

nav{
    min-height: 1Ovh;
    display: flex;
    align-items: center;
    width: 100%;
    margin:auto;
    padding: 1rem;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}

#logo{
    flex: 2 1 40rem;
}


/*MAIN*/

.main{
    min-height: 90vh;
    background: linear-gradient(rgb(0,0,0,0.6),transparent),url("../img/produits.jpg");
    background-size: cover;
    background-position: bottom;
    color: whitesmoke;
    display: flex;
    height: 88%;
    align-items: center;
    flex-basis: 50%;
}


.row{
    display: flex;
    height: 88%;
    align-items: center;
    width: 100%;
}

.col{
    flex-direction: column;
    align-items: center;
}

main h1{
    font-size: 100px;
    padding: 20px;
}

main p{
    font-size: 21.9px;
    line-height: 15px;
    padding: 20px;
}


button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding:12px 0;
    background: #fff;
    border:0;
    border-radius: 20px;
    outline:none;
    margin-top:30px;
}


.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}

h5{
    color: wheat;
}
.card1{
    background-image: url('../img/curcuma.jpg');
}
.card2{
    background-image: url('../img/safran.jpg');
}
.card3{
    background-image: url('../img/cannelle.jpg');
}
.card4{
    background-image: url('../img/curry.jpg');
}

.card:hover{
    transform: translateY(-10px);
}



/* Footer*/

footer{
    background-color: rgb(46, 46, 46);
    padding: 50px 0;
}

footer h3{
    color:bisque;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.footer{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 885px) {
    html{
        font-size: 45%;
    }
    nav{
        text-align: center;
    }
    #logo{
        padding: 2rem;
    }
    
    .footer{
        width: 50%;
    }

    .card{
        width: 25%;
        height: 95%;
    }
    .col{
        width: 25%;
    }
    
}

@media (max-width:390px) {
    html{
        font-size: 35%;
    }
    nav{
        text-align: center;
    }
    #logo{
        padding: 2rem;
    }
    
    .footer{
        width: 390px;;
    }
}